{% extends "_base.html" %}

{% block page_title %}{{ book.title }}jbbn{% endblock %}

{% block content %}
    <h1>{{ book.title|capfirst }}</h1>
    <h1>{{ book.text|linebreaksbr|truncatewords:10 }}</h1>

    <h1>{{ book.auther }}</h1>
    <h1>{{ book.price }}</h1>
    <a href="{% url "book_update" book.id %}"><button class="btn btn-info" type="button">viraesh</button></a>
    <a href="{% url "book_delete" book.id %}"><button class="btn btn-danger" type="button">delete</button></a>

    <br>
    <a href="{% url "book_list"  %}">list hameh ketabha</a>
{% endblock %}